<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="https://slack.global.ssl.fastly.net/272a/img/icons/favicon-32.png">

    <title>Hello SlackinEx!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <p class="alert alert-danger api-available" style="<%= if SlackinEx.Slack.api_available?, do: "display:none;" %>" role="alert">Slack API is not available at the moment.</p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
      <footer>powered by <a href="http://github.com/deadtrickster/slackin_ex" target="_blank">slackin.ex</a></footer>
    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
